<ion-view title="Cadastrar Objeto" id="page3">
  <ion-content padding="true" class="has-header">
    <div ng-controller="cadastrarObjetoCtrl">
    <form id="cadastrarObjeto-form6" class="list" method="post">
      <div class="spacer" style="width: 300px; height: 20px;"></div>
      <label class="item item-input" id="cadastrarObjeto-input8">
        <input type="text" placeholder="Descrição *" required="true">
      </label>
      <div class="spacer" style="width: 300px; height: 11px;"></div>
      <label class="item item-input" id="cadastrarObjeto-input7">
        <input type="text" placeholder="Detalhes">
      </label>
      <div class="spacer" style="width: 300px; height: 11px;"></div>
      <label class="item item-input" id="cadastrarObjeto-input18">
        <input type="date" placeholder="Data *" required="true">
      </label>
      <label class="item item-select" id="cadastrarObjeto-select2">
        <select ng-model="selectedCategory"
        ng-options="category.id as category.name for category in categories">
    <option value="">Selecione uma categoria</option>
  </select>
      </label>
      <div class="list card" id="cadastrarObjeto-card22">
        <div class="item item-body" id="cadastrarObjeto-list-item-container4">
          <div id="cadastrarObjeto-markdown2" class="show-list-numbers-and-dots">
            <p style="margin-top:0px;color:#000000;">Mapa</p>
          </div>
        </div>
      </div>
      <button id="cadastrarObjeto-button5" style="font-size:-1px;" class="button button-positive  button-block icon-left ion-camera">Enviar Foto</button>
      <button id="cadastrarObjeto-button4" class="button button-positive  button-block" ng-click="addObject()">Cadastrar</button>
    </form>
  </div>
  </ion-content>
</ion-view>
